<div class="container-fluid sign-up">
  <section class="register">
    <div class="row devise-form">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form-horizontal custom-form'}) do |f| %>
          <%= devise_error_messages! %>
          <h1>Join Us</h1>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="email-input-field">Email </label>
            </div>
            <div class="col-sm-6 input-column">
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="pawssword-input-field">Password </label>
            </div>
            <div class="col-sm-6 input-column">
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="repeat-pawssword-input-field">Repeat Password </label>
            </div>
            <div class="col-sm-6 input-column">
              <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
            </div>
          </div>
          <%= f.submit "Sign up", class: "btn btn-default submit-button" %>
        <% end %>
      </div>
    </div>
  </section>
</div>
