<div class="container">
  <section class="register">
    <div class="row">
       <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
          <h1>Expired Box</h1>
          <p>
            Expired Box stands for efficient uses of resources. We provide this service for <b>free</b>.
            It will always be free. Expired Box runs on money of the dev team. However, feel free to donate.
          </p>
          <h3>Join Us</h3>
          <p>
            Fill in the form below. Thanks for visiting us.
          </p>
          <% if not resource.errors.empty? %>
            <div class="alert alert-dismissible alert-danger">
              <button type="button" class="close" data-dismiss="alert">×</button>
              <strong>Ops!</strong>
              <%= devise_error_messages! %>
            </div>
          <% end %>                 
       </div>
    </div>
    <div class="row">      
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"}) do |f| %>        
        <div class="form-group">
          <label class="col-sm-4 control-label" for="email-input-field">Email</label>
          <div class="col-sm-6">
            <%= f.email_field :email, class: 'form-control', autofocus: true %>
            <p class="help-block">will be used as username</p>
          </div>                 
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="password-input-field">Password</label>
          <div class="col-sm-6">
            <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            <p class="help-block">need at least 5 characters long</p>
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-4 control-label" for="repeat-pawssword-input-field">Repeat Password</label>
          <div class="col-sm-6">
            <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "off" %>
            <p class="help-block">will be used for confirmation</p>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-4 col-sm-offset-4">
            <%= f.submit "Sign up", class: "btn btn-raised btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </section>
</div>