<% breadcrumb :items, @box %>

<div class="container">
  <section class="boxes">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <h1>Items in <%= @box.label %></h1>
        <p>
          List of items belong to this box.
        </p>
        <%= render "dashboard/shared/flash" %>
        <table class="table table-striped table-hover ">
          <thead>
          <tr>
            <th>#</th>
            <th>Item Name</th>
            <th>Expire Date</th>
            <th>Amounts</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <% @items.each_with_index do |item, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><%= item.label %></td>
                <td><%= item.expire_date %></td>
                <td><%= item.amount %></td>
                <td>
                  <%= link_to '<i class="material-icons md-18 md-dark">edit</i>'.html_safe,
                              edit_dashboard_box_item_path(@box, item, mode: 'full'),
                              data: {toggle: 'modal', target: '#edit-item'}, remote: true %>
                </td>
              <tr>
          <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </section>
</div>

<!-- fab btn -->
<div class="abs-fab">
  <a href="<%= new_dashboard_box_item_path(@box) %>" class="btn btn-info btn-fab">
    <i class="material-icons">add</i>
  </a>
</div>
<!-- .fab btn -->

<!-- dialogs -->
<div id="edit-item" class="modal"></div>
<!-- .dialogs -->
