<div class="container-fluid sign-in">
<section class="sign-in">
    <div class="row devise-form">
      <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'form-horizontal custom-form'}) do |f| %>
          <%= devise_error_messages! %>
          <h1>Welcome Back!</h1>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="email-input-field">Email </label>
            </div>
            <div class="col-sm-6 input-column">
              <%= f.email_field :email, class: 'form-control', autofocus: true %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4 label-column">
              <label class="control-label" for="pawssword-input-field">Password </label>
            </div>
            <div class="col-sm-6 input-column">
              <%= f.password_field :password, class: 'form-control', autocomplete: "off" %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-6 input-column-plain">
              <%= f.check_box :remember_me %>    
              <label class="control-label">Remember me ? </label>              
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-4"></div>
            <div class="col-sm-6 input-column-plain">
              <%= f.submit "Log in", class: "btn btn-default submit-button" %>          
              <%= render "devise/shared/links" %> 
            </div>
          </div>  
        <% end %>
      </div>
    </div>
  </section>
</div>


