<% if defined?(resource) && !(resource.errors.empty?) %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Ops!</strong>
    <%= devise_error_messages! %>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="alert alert-dismissible alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button
    <ul>
      <% if flash[:alert].is_a?(String) %>
        <%= content_tag :li, flash[:alert] %>
      <% end %>
      <% if flash[:alert].is_a?(Array)  %>
        <% flash[:alert].each do |msg| %>
          <%= content_tag :li, msg %>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>

<% if flash[:notice] %>
  <div class="alert alert-dismissible alert-info">
    <button type="button" class="close" data-dismiss="alert">×</button
    <ul>
      <% if flash[:notice].is_a?(String) %>
        <%= content_tag :li, flash[:notice] %>
      <% end %>
      <% if flash[:notice].is_a?(Array)  %>
        <% flash[:notice].each do |msg| %>
          <%= content_tag :li, msg %>
        <% end %>
      <% end %>
    <ul>
  </div>
<% end %>

<div class="flash-turboboost-alert alert alert-dismissible alert-danger">
  <ul class="inject"></ul>
</div>

<div class="flash-turboboost-notice alert alert-dismissible alert-info">
  <ul class="inject"></ul>
</div>
